.search__container {
    display: flex;    
    width: 100%;
}

.icon{
    font-size: 16px;
    margin-right: 1.5rem;
    color: var(--pure-white);
}

.search__input{
    border: transparent;
    width: 20rem;
    font-size: 14px;
}

input {
    color: var(--pure-white);
    caret-color: var(--red);
}
