<nav class="menu__container">
    <div class="menu__movie">
        <img src="../../../assets/logo.svg">
    </div>
    <div class="menu__options">
        <a routerLink="/"><fa-icon [icon]="faHome" class="icon__home_style"></fa-icon></a>
        <a routerLink="movies"><fa-icon [icon]="faFilm" class="icon__home_style"></fa-icon></a>
        <a><fa-icon [icon]="faTv" class="icon__home_style"></fa-icon></a>
        <a><fa-icon [icon]="faBookmark" class="icon__home_style"></fa-icon></a>
    </div>
    <div class="menu__avatar">
        <img src="../../../assets/image-avatar.png">
    </div>
</nav>
