<nav class="menu__container">
    <div class="menu__movie">
        <img src="../../../assets/logo.svg">
    </div>
    <div class="menu__options">
        <span><fa-icon [icon]="faHome" class="icon__home_style"></fa-icon></span>
        <span><fa-icon [icon]="faFilm" class="icon__home_style"></fa-icon></span>
        <span><fa-icon [icon]="faTv" class="icon__home_style"></fa-icon></span>
        <span><fa-icon [icon]="faBookmark" class="icon__home_style"></fa-icon></span>
    </div>
    <div class="menu__avatar">
        <img src="../../../assets/image-avatar.png"> 
    </div>
</nav>
