<div class="container">
  <div class="navbar">
    <app-menus></app-menus>
  </div>
  <div class="content">
    <app-search-input></app-search-input>
    <h2 class="title__trending">Trending</h2>

    <div class="trending">
      <p-carousel [value]="trending" [numVisible]="2" [numScroll]="2" [showIndicators]="false" [showNavigators]="true">
        <ng-template let-info pTemplate="item">

          <div class="card__trending">
            <img [src]="info.thumbnail.trending.large" class="tranding__img" />
            <ul class="card__trending--info">
              <li>{{ info.year }}</li>
              <li>{{ info.category }}</li>
              <li>{{ info.rating }}</li>
            </ul>
            <h3 class="card__trending--title">{{ info.title }}</h3>
            <!-- <span class="card__trending--info"></span>
            <span class="card__trending--info">{{ info.category }}</span>
            <span class="card__trending--info">{{ info.rating }}</span> -->
          </div>



        </ng-template>
      </p-carousel>

    </div>

    <h2 class="title__recommended">Recommended for you</h2>
    <div class="container__recommended">
      <div class="card__recommended" *ngFor="let item of recommended">
        <img class="recommended__img" [src]="item.thumbnail.regular.small" />
        <span class="card_info">{{ item.year }}</span>
        <span class="card_info">{{ item.category }}</span>
        <span class="card_info">{{ item.rating }}</span>
        <p class="card_description">{{ item.title }}</p>
      </div>
    </div>
  </div>
</div>
